body {
  /*background-color: red;*/
}

.img {
  background-image: url('../img/e.png');
  height: 500px;
  background-position: center top;
  background-repeat: no-repeat;
  /*background-color: red;*/
}

.img2 {
  background-image: url('../img/a.jpg');
  height: 500px;
  background-position: center top;
  background-repeat: no-repeat;
  /*background-color: red;*/
}

.rtlPart {
  direction: rtl;
}

input[type="radio"] {
  position: relative !important;
  margin-left: 0 !important;
}

.welcomeImg {
  width: 500px;
  margin: 0px auto;
  clear: both;
  display: block;
  margin-top: 100px;
}
